<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp1.styles.css" />
    <style>
        main {
            min-height: 75vh;
        }
        article {
            height: 100%;
        }
        canvas{
            height: 100vh;
            width: 100vw;
        }
    </style>
    <HeadOutlet />
</head>

<body>
   
    <Routes /> 
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/three.min.js"></script>

</body>

</html>
