@using HomagGroup.Blazor3D.Viewers
<div id="introDiv">
<h3 id="introHeading">Welcome to the tree website</h3>
<img id="introImage" src="./Resources/premium_photo.png" asp-append-version="true" width="300px">
</div>

@code {

}
